<div style="width: 1920px; height: 1080px; background: rgba(1.60, 0.96, 32.94, 0.88)"></div>
<img style="width: 962px; height: 1080px" src="https://via.placeholder.com/962x1080" />
<div style="width: 412px; height: 84px; color: white; font-size: 64px; font-family: Inter; font-weight: 400; word-wrap: break-word">Авторизация</div>
<div style="width: 151px; height: 50px; color: white; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">Пароль</div>
<div style="width: 606px; height: 0px; border: 1px #0B4D8A solid"></div>
<div style="width: 606px; height: 0px; border: 1px #0B4D8A solid"></div>
<div style="width: 306px; height: 35px; color: white; font-size: 20px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">v.onishchuk@centrofinanc.ru</div>
<div style="width: 151px; height: 50px; color: white; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">Логин</div>
<div style="width: 222px; height: 15px; position: relative">
  <div style="width: 19px; height: 15px; left: 0px; top: 0px; position: absolute; background: #0B4D8A; border-radius: 9999px; border: 1px #0B4D8A solid"></div>
  <div style="width: 19px; height: 15px; left: 58px; top: 0px; position: absolute; background: #0B4D8A; border-radius: 9999px; border: 1px #0B4D8A solid"></div>
  <div style="width: 19px; height: 15px; left: 87px; top: 0px; position: absolute; background: #0B4D8A; border-radius: 9999px; border: 1px #0B4D8A solid"></div>
  <div style="width: 19px; height: 15px; left: 116px; top: 0px; position: absolute; background: #0B4D8A; border-radius: 9999px; border: 1px #0B4D8A solid"></div>
  <div style="width: 19px; height: 15px; left: 145px; top: 0px; position: absolute; background: #0B4D8A; border-radius: 9999px; border: 1px #0B4D8A solid"></div>
  <div style="width: 19px; height: 15px; left: 174px; top: 0px; position: absolute; background: #0B4D8A; border-radius: 9999px; border: 1px #0B4D8A solid"></div>
  <div style="width: 19px; height: 15px; left: 203px; top: 0px; position: absolute; background: #0B4D8A; border-radius: 9999px; border: 1px #0B4D8A solid"></div>
  <div style="width: 19px; height: 15px; left: 29px; top: 0px; position: absolute; background: #0B4D8A; border-radius: 9999px; border: 1px #0B4D8A solid"></div>
</div>